img {
    width: 100%;
    height: 100%;
}

.ms__fluid {
    height: 100vh;
}

.ms__container {
    min-width: 800px;
}

.ms__slider_wrapper, .ms__item_wrapper {
    height: 300px;
}

.slider {
    height: 100%;
    border: 1px dashed red;
}

.item {
    height: 20%;
    border: 1px dashed blue;
}